.flex-container{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    column-gap: 2rem;
}

.card{
    flex-basis: 660px;
    border-radius: 3rem;
    overflow: hidden;
    color: white;
    border: 0;
    height: 1240px;
    box-shadow: 10px 16px 16px rgba(0, 0, 0, 0.322);
}

.btn{
    background-color: #19BC43;
    border-radius: 20rem;
    color: white;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-width: 0;
    font-weight: bold;
    font-size: 40px;
    width: 450px;
    margin-top: 1rem;
}

.btn:active, .btn:focus{
    background-color: #34583A;
    border-width: 5px;
    border-color: white;
}

.btn:hover{
    background-color: #34583A;
    border-width: 5px;
    border-color: white;
}

.btn:active:focus{
    background-color: #34583A;
    border-width: 5px;
    border-color: white;
}

.img-preview{
    height: 760px;
    width: 100%;
}

.card-body{
    padding: 4rem;
    background-color: #006D21;
    text-align: center;
    padding-top: 3.5rem;
}

.card-text{
    text-align: left;
    margin-top: 1.0rem;
}


