.flex-container{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    column-gap: 1rem;
}

.card{
    flex-basis: 300px;
    border-radius: 3rem;
    overflow: hidden;
    color: white;
    border: 0;
    height: 1240px;
    box-shadow: 10px 16px 16px rgba(0, 0, 0, 0.322);
    height: 563px;
}

.btn{
    background-color: #19BC43;
    border-radius: 20px;
    color: white;
    padding: 5px;
    border-width: 0;
    font-weight: bold;
    font-size: 18px;
    width: 200px;
    margin-top: 5px;
}

.btn:active, .btn:focus{
    background-color: #34583A;
    border-width: 5px;
    border-color: white;
}

.btn:hover{
    background-color: #34583A;
    border-width: 5px;
    border-color: white;
}

.btn:active:focus{
    background-color: #34583A;
    border-width: 5px;
    border-color: white;
}

.img-preview{
    height: 340px;
    width: 100%;
}

.card-body{
    padding: 2rem;
    background-color: #006D21;
    text-align: center;
    padding-top: 20px;
}

.card-text{
    text-align: left;
    margin-top: 15px;
}


