.modal-container-flex{
    display: flex;
    column-gap: 80px;
    padding: 100px;
    padding-top: 100px;
}

.card-adjust{
    height: 100px;
}
#card-oma{
    height: 270px;
    box-shadow: 10px 16px 16px rgba(0, 0, 0, 0.322);
    border-radius: 20px 20px 20px 0px;
    overflow: hidden;
    border: 0;
    flex-basis: 630px;
    margin-left: 0px;
    margin-right: 0px;
    margin: 0px;
    background-color: white;
    padding: 30px;
}

#card-title-oma{
    margin: 30px;
    margin-bottom: 20px;
    color: black;
    margin-top: 15px;
    text-align: left;
    font-size: 20px;
}

#card-body-oma{
    margin-left: 30px;
    margin-bottom: 10px;
    padding: 0px;
    background-color: white;
    color: black;
    font-size: 14px;
    margin-right: 0px;
}

#oma{
    height: 657px;
    margin-top: 25px;
}

.flex-btn{
    display:flex;
    justify-content: flex-end;
}
.btn-close-modal{
    background-color: #19BC43;
    color: white;
    padding: 5px;
    border-width: 0;
    font-weight: bold;
    font-size: 18px;
    width: 158px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: auto;
    border-radius: 20px;
}

.btn:active, .btn:focus{
    background-color: #34583A;
    border-width: 5px;
    border-color: white;
}

.btn:hover{
    background-color: #34583A;
    border-width: 5px;
    border-color: white;
}

.btn:active:focus{
    background-color: #34583A;
    border-width: 5px;
    border-color: white;
}
.my-modal{
    background-color: rgba(0, 0, 0, 0.322);
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal.active{
    visibility: visible;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}  

.hidden{
    display: none;
}
