.flex-container{
    display: flex;
    column-gap: 3rem;
    justify-content: center;
}

#symptomen{
 column-gap: 3rem;
 margin-bottom: 110px;
}

.card{
    flex-basis: 312px;
    border-radius: 3rem;
    overflow: hidden;
    color: white;
    border-width: 0;
    background-color: #006D21;
    height: 488px;
    margin-bottom: 3rem;
    box-shadow: 10px 16px 16px rgba(0, 0, 0, 0.322);
    position: relative;
    border-color: transparent;
    margin-bottom: 0px;
}

.card-title{
    padding: 1.5rem;
    text-align: center;
}

#frage{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 25px;
    font-weight: bold;
}

.card a::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.card:active, .btn:focus{
    background-color: #34583A;
    border-width: 5px;
    border-color: white;
}

.card:hover{
    background-color: #34583A;
    border-width: 5px;
    border-color: white;
}

.card:active:focus{
    background-color: #34583A;
    border-width: 5px;
    border-color: white;
}

#symptom{
    flex-basis: 230px;
    height: 390px;
}

#magen{
    margin-top: 10px;
}

#kopfschmerz{
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 10px;
}

#card-title-oma{
    padding: 0px;
}
