body{
    margin: 20px;
    background-color: #F1EFEF;
    font-size: 14px;
    margin-top: 30px;    
}

body h1{
    font-size: 32px;
    font-weight: bold;
}

h3{
    font-size: 30px;
}

h2{
    font-size: 20px;
    font-weight: bold;
}

header{
    text-align: center;
    margin-bottom: 2rem;
}

footer{
    margin-top: 1rem;
}

main{
    width: 98%;
    margin: auto;
}

header img{
    width: 137px;
}

.btn-footer{
    color: white;
    width: 60px;
    height: 60px;
    text-align: center;
    font-weight: bold;
    background-color: #E89E2F;
    border-width: 0;
    border-radius: 30px;
    font-size: 40px
}

footer{
    margin-top: 1rem;
    margin-left: 0.5rem;
}

a{
    text-decoration: none;
    color: white;
}