.container{
    display: flex;
    width: 916px;
    height: 525px;
    box-shadow: 10px 16px 16px rgba(0, 0, 0, 0.322);
    border-radius: 3rem;
    background-color: #006D21;
    overflow: hidden;
    padding: 20px;
}
