.container{
    display: flex;
    width: 916px;
    height: 490px;
    box-shadow: 10px 16px 16px rgba(0, 0, 0, 0.322);
    border-radius: 3rem;
    background-color: #006D21;
    overflow: hidden;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.correct{
    background-color: #19bc43;
    border-color: white;
    border: 2px;
    color: white;
}

.incorrect{
    background-color: #E89E2F;
    border-color: white;
    border: 2px;
    color: white;
}

#question{
    font-size: 32px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    padding: 60px;
    padding-bottom: 30px;
    text-align: center;
}

.btns{
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    width: 278px;
    padding: 10px;
    font-size: 22px;
    border-radius: 20px;
    border: 5px;
    
}

#answer-buttons{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#titel{
    margin-left: 80px;
    margin-top: 0px;
}

header{
    margin-bottom: 10px;
}

footer{
    margin-top: 15px;
}

#next{
    background-color: #19BC43;
    border-radius: 20px;
    color: white;
    padding: 10px;
    border-width: 0;
    font-weight: bold;
    font-size: 18px;
    width: 180px;
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
}

#question-container{
    margin-left: auto;
    margin-right: auto;
}