h1{
    margin-bottom: 20px;
    margin-top: 30px;
}

.flex-big-container{
    display: flex;
    width: 850px;
    height: 490px;
    box-shadow: 10px 16px 16px rgba(0, 0, 0, 0.322);
    border-radius: 3rem;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    overflow: hidden;
    padding: 20px;
    padding-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px;
    column-gap: 70px;
}


/* Kontainern gleich groß machen*/
.flex-small-container{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
}

#title{
    margin-left: 80px;
}

.flex-big-container h2{
    font-size: 22px;
}

.row-1,.row-5, .row-6{ 
    display: flex;
    column-gap: 30px;
}

.column-1{
    margin-top: auto;
    margin-bottom: auto;
}

#card-oma{
    height: 150px;
}

.spiel-container{
    width: 916px;
    height: 525px;
    box-shadow: 10px 16px 16px rgba(0, 0, 0, 0.322);
    border-radius: 3rem;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    overflow: hidden;
}

#titel-spiel{
    margin-left: 90px;
    margin-top: 0px;
}

.btn{
    
    background-color: #19BC43;
    border-radius: 20rem;
    color: white;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-width: 0;
    font-weight: bold;
    font-size: 30px;
}

.btn:active, .btn:focus{
    background-color: #34583A;
    border-width: 5px;
    border-color: white;
}

.btn:hover{
    background-color: #34583A;
    border-width: 5px;
    border-color: white;
}

.btn:active:focus{
    background-color: #34583A;
    border-width: 5px;
    border-color: white;
}

.btn-container{
    margin-top: 100px;
    display: flex;
    justify-content: end;
}

#logo{
    margin-bottom: 10px;
}

#footer{
    margin-top: 10px;
}

#card-title-oma{
    margin-bottom: 30px;
}

#card-text-oma{
    margin-bottom: 25px;
}